@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: rgb(0,3,62);
  background: linear-gradient(180deg, rgba(0,3,62,1) 0%, rgba(3,7,74,1) 5%, rgba(6,10,88,1) 10%, rgba(11,16,105,1) 15%, rgba(25,30,128,1) 25%, rgba(41,47,156,1) 35%, rgba(63,69,191,1) 45%, rgba(82,89,214,1) 50%, rgba(63,69,191,1) 55%, rgba(41,47,156,1) 65%, rgba(25,30,128,1) 75%, rgba(11,16,105,1) 85%, rgba(6,10,88,1) 90%, rgba(3,7,74,1) 95%, rgba(0,3,62,1) 100%);}

.button{
  height: 60px;
  width: 60px;
  margin: 10px;
  float: left;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);

}

.button .icon{
  height: 60px;
  width: 60px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
    text-align: center;
    border-radius: 10px;
}

.button .icon i{
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  line-height: 60px;

}

.button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.button:nth-child(1):hover .icon{
  background: #e1306c;
}
.button:nth-child(2):hover .icon{
  background: #4267b2;
}
.button:nth-child(3):hover .icon{
  background: #1da1f2;
}
.button:nth-child(4):hover .icon{
  background: #0e76a8;
}
.button:nth-child(5):hover .icon{
  background: #ff0000;
}
.button:nth-child(6):hover .icon{
  background: #333;
}


.button:nth-child(1) span{
  color: #e1306c;
}
.button:nth-child(2) span{
  color: #4267b2;
}
.button:nth-child(3) span{
  color: #1da1f2;
}
.button:nth-child(4)span{
  color: #0e76a8;
}
.button:nth-child(5)span{
  color: #ff0000;
}
.button:nth-child(6)span{
  color: #333;
}


.button:hover i{
  color: #fff;
}

.button:nth-child(1):hover{
  width: 187px;
}
.button:nth-child(2):hover{
  width: 182px;
}
.button:nth-child(3):hover{
  width: 150px;
}
.button:nth-child(4):hover{
  width: 170px;
}
.button:nth-child(5):hover{
  width: 175px;
}
.button:nth-child(6):hover{
  width: 154px;
}